.venv/
MachineLearning/ReferenceCode/NLP/Transformers/training_dir/**
**/checkpoint*
**/*.bin
**/*.safetensors
**/*.json
**/events.*
MachineLearning/ReferenceCode/NLP/Transformers/TransformersDP/Decoder/__pycache__/CDP_SGD.cpython-311.pyc
MachineLearning/ReferenceCode/NLP/Transformers/TransformersDP/Decoder/__pycache__/Decoder.cpython-311.pyc
Python/Research/UserEmbeddings_MCP/Experiments/Data/**
